/* 
    Il layout di una pagina web è la disposizione visiva degli elementi all'interno della pagina. Include la struttura e l'organizzazione degli elementi come testi, immagini, pulsanti, menù e altri componenti.

    Ci sono delle proprietà CSS che ci permettono di controllare la posizone degli elementi sulla pagina e una di queste è position.

    POSITION
    Può avere 5 valori:

        - static -> Il valore di default di tutti gli elementi HTML. L'elemento segue il normale flusso del documento, venendo posizionato quindi in base all'ordine in cui appare nell'HTML. Non può essere spostato usando le proprietà top, right, bottom e left.

        - relative -> Gli elementi con position: relative sono posizionati in relazione alla loro posizione originale nel flusso del documento. Possiamo utilizzare le proprietà top, right, bottom e left per spostare l'elemento dalla sua posizione normale, ma lo spazio occupato dall'elemento rimane invariato nel flusso del documento.

        - fixed -> Gli elementi con position: fixed sono posizionati rispetto alla finestra del browser. Rimangono fissi anche quando l'utente scorre la pagina. Vengono rimossi dal normale flusso del documento ma la loro posizione è sempre relativa alla finestra del viewport.

        - absolute -> Gli elementi con position: absolute sono posizionati rispetto al loro primo antenato non static (quidi un elemento con position: relative, absolute o fixed). Vengono rimossi dal flusso del documento, quindi non occupano spazio. Le proprietà top, right, bottom e left possono essere usate per posizionarli a piacimento.

        - sticky -> Gli elementi con position: sticky sono una combinazione di relative e fixed. Iniziano come relative e diventano fixed quando raggiungono una certa posizione durante lo scorrimento. Rimangono nel flusso del documento fino a quando non raggiungono il punto specificato (definito dalle proprietà top, right, bottom e left), momento in cui si 'attaccano' al viweport.

    Riassunto:

    VALORE      DESCRIZIONE
    static      Posizionamento normale, non può essere spostato.
    relative    Posizionato rispetto alla sua posizione originale.
    absolute    Posizionato rispetto al primo antenato non static.
    fixed       Fisso rispetto alla finestra del browser.
    sitcky      Comportamento misto tra relative e fixed.

    top:        distanza dal bordo superiore
    right:      distanza dal bordo destro
    bottom:     distanza dal bordo inferiore
    left:       distanza dal bordo sinistro
*/

main{
    max-width: 1000px;
    margin: 0 auto;  /*Posizionare in centro*/
    padding-top: 100px; /*per fare spazio all'elemento fixed*/
    min-height: 200vh; /*Per far vedere il comportamento di stick e fixed*/
}
.background{
    /* height: 80px; */
    background-color: #d1d1d1;
}

.box{
    padding: 0.3rem 1rem;
    background-color: #ffff7b;
    border: 1px dashed #313131;
}

.relative{
    position: relative;
    top: 20px;
    left: 20px;
}

.fixed{
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    /* Per fare in modo che sia sovrapposto a ciò che viene dopo */
    z-index: 1;
}

.parent-absolute{
    /* Deve avere un position diverso da static. il 90% delle volte useremo relative. */
    position: relative;
    height: 500px;
    padding: 0.3rem 1rem;
    margin: 3rem 0;
    background-color: #d1d1d1;
}

.absolute{
    position : absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.sticky{
    position: sticky;
    top: 78px; /*Quando raggiunge la parte indicata della pagina, si incolla*/
    z-index: 2;
}