:root{
    --colore-sfondo : #352b5a;
    --colore-lista : #3c3266;
    --colore-campi: #282246;
    --colore-testo: white;
}

body{
    background-color: var(--colore-sfondo);
    color: var(--colore-testo);
}

.lista{
    background-color: var(--colore-lista);
}

/* .form-control{
    background-color: var(--colore-campi);
} */

.lista li,
.aggiungi .form-control{
    text-transform: capitalize;
}


.titolo{
    font-size: 60px;
    font-weight: bold;
}

li svg {
    width: 25px;
    height: 25px;
    fill: white;
    overflow: visible;
    
}

.hidden { 
    display: none !important;
}