#scontrino li {
    display: flex;
    align-items: baseline;
}

.prodotto {
    order: 1;
}

.prezzo {
    order: 2;
}

#scontrino li::before {
    content: '';
    order: 2;
    flex-grow: 1;
    border-bottom: 1px dotted #999;
    margin: 0 .5rem;
}

.scontrino{
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    color: black;
    background-color: white;
}